{% extends 'base.html.twig' %}
{% block title %}List Post{% endblock %}
{% block body %}
    <h1>list Post</h1>
    <h2><a href="{{ path('newPost') }}">Create Post</a></h2>
    <table>
        <thead>
        <tr>
            <th>title</th>
            <th>view</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td><a href="{{ path('viewPost', { 'slug':post.slug}) }}">{{ post.slug }}</a></td>
                    <td><a href="{{ path('editPost', { 'slug':post.slug}) }}">edit</a></td>
                    <td><a href="{{ path('deletePost', { 'slug':post.slug}) }}" onclick="
                                return confirm('are you sure?')">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}